body{
    font-family: monospace;
    background-color: black;
    background-image: url("images/background.jpg");
}

header{
    background-color: black;
    opacity: 0.9;
}

footer{
    background-color: black;
    opacity: 0.9;
}

#header_content{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#footer_content{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

#mainpanel{
    height: 100%;
    background-color: black;
    background-size: cover;
    opacity: 0.9;
}

#post{
    border-style: solid;
    border-color: white;
}

h1{
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

p{
    color:white;
}

a{
    padding-right: 5px;
    padding-left: 6px;
    
    color: yellow;
}